@use "colors";

body {
    margin: 0;
    background-color: colors.$khaki-web;
    color: colors.$black-chocolate;
    font-size: 80px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 1.5rem;
    margin: 5px;
    border-radius: 5px;
    background-color: colors.$shadow-blue;

    &:hover {
        cursor: pointer;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    list-style-image: url("../images/logopqx32x32.png");
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        font-size: 46px;
        padding-left: 10px;
    }
}

img.spool {
    transform: scale(1.5);
}